<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [43]:
import pandas as pd

pd.set_option("display.max_rows", None, "display.max_columns", None)

In [26]:
pet_names_df = pd.read_csv('data/Seattle_Pet_Licenses.csv',
                           header=0,
                           parse_dates=['License Issue Date'], 
                           dtype={'License Number': str,
                                  'Animal\'s Name': str, 
                                  'Species': str,
                                  'Primary Breed': str,
                                  'Secondary Breed': str,
                                  'ZIP Code': str})
                            
pet_names_df.head()

,License Issue Date,License Number,Animal's Name,Species,Primary Breed,Secondary Breed,ZIP Code
0,2015-12-18,S107948,Zen,Cat,Domestic Longhair,Mix,98117
1,2016-06-14,S116503,Misty,Cat,Siberian,NaN,98117
2,2016-06-16,S116742,Frankie Lee Jones,Cat,Domestic Shorthair,NaN,NaN
3,2016-08-04,S119301,Lyra,Cat,Mix,NaN,98121
4,2017-06-06,208553,Puck,Cat,Russian Blue,NaN,98107

In [28]:
# A quick note on the object datatype, it isn't listed as a string as it isn't the c-like string  that np uses. Pandas uses a regular python string which is interpreted as an object dtype

pet_names_df.dtypes

License Issue Date    datetime64[ns]
License Number                object
Animal's Name                 object
Species                       object
Primary Breed                 object
Secondary Breed               object
ZIP Code                      object
dtype: object

In [29]:
# Removing the apostrophe in the Animal's Name column to make dealing with it easier
# No more need for the escape character or using double quotes

pet_names_df.rename(columns={'Animal\'s Name': 'Animal Name'}, inplace=True)
pet_names_df.columns

Index(['License Issue Date', 'License Number', 'Animal Name', 'Species',
       'Primary Breed', 'Secondary Breed', 'ZIP Code'],
      dtype='object')

In [27]:
pet_names_df['Species'].value_counts()

Dog     31808
Cat     14542
Goat       35
Pig         3
Name: Species, dtype: int64

In [52]:
pop_names = pet_names_df['Animal Name'].value_counts()
pop_names[:100]

Luna       402
Lucy       340
Charlie    334
Bella      285
Daisy      224
Max        219
Lily       198
Lola       195
Jack       190
Oliver     187
Stella     180
Cooper     173
Buddy      173
Maggie     168
Penny      168
Sophie     166
Molly      164
Olive      164
Ruby       160
Rosie      158
Leo        157
Milo       157
Bailey     153
Pepper     152
Scout      148
Coco       140
Sadie      139
Chloe      137
Gracie     129
Henry      129
Oscar      125
Ginger     120
Loki       117
Poppy      113
Murphy     110
Zoe        110
Gus        109
Toby       108
Riley      108
Winston    108
Ellie      106
Ollie      105
Bear       105
Shadow     102
Jasper     102
Teddy      102
Kona       102
Rocky      101
Finn       101
Lulu       100
Frankie     97
Louie       93
Tucker      92
Theo        91
Zoey        90
George      89
Willow      89
Abby        88
Lucky       87
Sam         86
Blue        84
Piper       84
Winnie      82
Otis        81
Sasha       81
Mia         80
Nala        80
Millie      79
Sammy       78
Hazel       78
Jake        77
Phoebe      76
Mochi       75
Annie       75
Dexter      75
Ziggy       71
Moose       69
Izzy        69
Maya        68
Buster      68
Lilly       67
Harley      67
Hank        67
Juno        67
Ella        64
Baxter      63
Cody        63
Archie      63
Roxy        62
Duke        61
Cleo        60
Emma        60
Benny       58
Rusty       58
Remy        56
Maddie      56
Callie      55
Cookie      54
Jackson     54
Felix       54
Name: Animal Name, dtype: int64

In [47]:
pet_names_df[pet_names_df['Animal Name'] == 'Dash']

,License Issue Date,License Number,Animal Name,Species,Primary Breed,Secondary Breed,ZIP Code
1723,2019-08-12,8010642,Dash,Cat,American Shorthair,Mix,98199
2321,2019-09-22,S133391,Dash,Cat,Domestic Longhair,NaN,98122
6859,2020-06-17,8008302,Dash,Cat,Domestic Shorthair,NaN,98117
9979,2020-10-07,8022316,Dash,Cat,Domestic Shorthair,Mix,98115
11995,2020-12-13,S150217,Dash,Cat,Domestic Shorthair,NaN,98117
13227,2021-01-29,21744,Dash,Cat,Domestic Shorthair,NaN,98144
30448,2019-04-28,284899,Dash,Dog,Shih Tzu,"Poodle, Miniature",98115
31416,2019-07-05,S132446,Dash,Dog,Hound,Mix,98101
32496,2019-09-11,727906,Dash,Dog,"Spaniel, American Cocker","Poodle, Miniature",98103
34188,2020-01-11,S139524,Dash,Dog,"Terrier, Soft Coated Wheaten",NaN,98116
34289,2020-01-15,8014940,Dash,Dog,Greyhound,NaN,98117
35114,2020-03-12,8016352,Dash,Dog,"Poodle, Miniature","Retriever, Labrador",98125
35360,2020-03-30,8016686,Dash,Dog,Shiba Inu,NaN,98119
35913,2020-04-18,8017206,Dash,Dog,"Collie, Smooth","Retriever, Golden",98107
36221,2020-05-01,8017546,Dash,Dog,Australian Shepherd,Mix,98115
36320,2020-05-06,8017655,Dash,Dog,"Dachshund, Standard Smooth Haired","Chihuahua, Short Coat",98118
36638,2020-05-15,279597,Dash,Dog,Havanese,Mix,98178
36732,2020-05-19,S116946,Dash,Dog,"Chihuahua, Short Coat",NaN,98116
37742,2020-06-20,358024,Dash,Dog,American Eskimo,Papillon,98107
39083,2020-08-07,8020527,Dash,Dog,Pomeranian,NaN,98112
40292,2020-09-15,728339,Dash,Dog,Pomeranian,Shih Tzu,98112
40438,2020-09-20,8010441,Dash,Dog,"Poodle, Standard","Retriever, Labrador",98103
40725,2020-09-30,S154495,Dash,Dog,Hound,Mix,98125
40881,2020-10-06,S145513,Dash,Dog,"Terrier, Airedale",Irish Wolfhound,98106
41737,2020-11-04,8023001,Dash,Dog,"Retriever, Labrador",NaN,98125
41878,2020-11-09,8023129,Dash,Dog,"Mixed Breed, Medium (up to 44 lbs fully grown)",Mix,98103
42447,2020-11-25,S123597,Dash,Dog,"Australian Shepherd, Miniature","Dachshund, Standard Long Haired",98136
43194,2020-12-18,8013831,Dash,Dog,Boxer,Boxer,98103
44126,2021-01-19,S127009,Dash,Dog,"Dachshund, Miniature Long Haired",NaN,98125