<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [5]:
pet_names_df = pd.read_csv('data/Seattle_Pet_Licenses.csv', header=0)
pet_names_df.head()

,License Issue Date,License Number,Animal's Name,Species,Primary Breed,Secondary Breed,ZIP Code
0,December 18 2015,S107948,Zen,Cat,Domestic Longhair,Mix,98117.0
1,June 14 2016,S116503,Misty,Cat,Siberian,NaN,98117.0
2,June 16 2016,S116742,Frankie Lee Jones,Cat,Domestic Shorthair,NaN,NaN
3,August 04 2016,S119301,Lyra,Cat,Mix,NaN,98121.0
4,June 06 2017,208553,Puck,Cat,Russian Blue,NaN,98107.0

In [6]:
pet_names_df.dtypes

License Issue Date     object
License Number         object
Animal's Name          object
Species                object
Primary Breed          object
Secondary Breed        object
ZIP Code              float64
dtype: object