<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [15]:
pet_names_df = pd.read_csv('data/Seattle_Pet_Licenses.csv',
                           header=0,
                           parse_dates=['License Issue Date'], 
                           dtype={'License Number': str,
                                  'Animal\'s Name': str, 
                                  'Species': str,
                                  'Primary Breed': str,
                                  'Secondary Breed': str})
                            
pet_names_df.head()

,License Issue Date,License Number,Animal's Name,Species,Primary Breed,Secondary Breed,ZIP Code
0,2015-12-18,S107948,Zen,Cat,Domestic Longhair,Mix,98117.0
1,2016-06-14,S116503,Misty,Cat,Siberian,NaN,98117.0
2,2016-06-16,S116742,Frankie Lee Jones,Cat,Domestic Shorthair,NaN,NaN
3,2016-08-04,S119301,Lyra,Cat,Mix,NaN,98121.0
4,2017-06-06,208553,Puck,Cat,Russian Blue,NaN,98107.0

In [17]:
pet_names_df.dtypes
# TODO is object dtype good or do I need to switch it to string?
# TODO have to fix zipcode - null values mess it up

License Issue Date    datetime64[ns]
License Number                object
Animal's Name                 object
Species                       object
Primary Breed                 object
Secondary Breed               object
ZIP Code                     float64
dtype: object

In [ ]:
# TODO rename columns - animal's names is very annoying to deal with

In [27]:
pet_names_df['Species'].value_counts()

Dog     31808
Cat     14542
Goat       35
Pig         3
Name: Species, dtype: int64

In [29]:
pet_names_df['Animal\'s Name'].value_counts()

Luna              402
Lucy              340
Charlie           334
Bella             285
Daisy             224
                 ...
Bella Boo           1
Mitaka              1
Jassy               1
Jonesey             1
Jackie Osassis      1
Name: Animal's Name, Length: 13136, dtype: int64