In [1]:
# Imports
from datetime import datetime as dt
import pandas as pd

In [2]:
# Reading data from source and creating df
storm_df = pd.read_csv('data/events-US-1980-2021.csv',
                       header=1,
                       parse_dates=['Begin Date', 'End Date'])

In [3]:
column_rename = {'Total CPI-Adjusted Cost (Millions of Dollars)': 'cost_in_millions'}
storm_df.rename(columns=column_rename, inplace=True)

In [4]:
storm_df.dtypes

Name                        object
Disaster                    object
Begin Date          datetime64[ns]
End Date            datetime64[ns]
cost_in_millions           float64
Deaths                       int64
dtype: object

In [5]:
storm_df['Disaster'].value_counts()

Disaster
Severe Storm        152
Tropical Cyclone     57
Flooding             36
Drought              29
Winter Storm         20
Wildfire             20
Freeze                9
Name: count, dtype: int64

In [6]:
# created columns for day, month and year to assist in future work
# Went with start date as it would be most relevant for investigating, but can change/add to if needed
day_list = [date.day for date in storm_df['Begin Date']]
month_list = [date.month for date in storm_df['Begin Date']]
year_list = [date.year for date in storm_df['Begin Date']]
storm_df['day_start'], storm_df['month_start'], storm_df['year_start'] = day_list, month_list, year_list

In [7]:
# meteorologic seasons are easier to define as they encompass entire months
# can also just do season mapping from the beginning, but like to keep it this way to show different methods and for simplifying steps
met_season_numbers = [month % 12 // 3 + 1 for month in storm_df['month_start']]

season_mapping = {1: 'winter', 2: 'spring', 3: 'summer', 4: 'fall'}

met_season = [season_mapping[number] for number in met_season_numbers]
storm_df['met_season'] = met_season

In [8]:
# Calendar seasons require more logic
# using a start day of the 21st for each season, 3, 6, 9, 12
cal_season = []

for row in storm_df.itertuples():
    if row.month_start in [1,2]:
        cal_season.append('winter')
    elif row.month_start in [4,5]:
        cal_season.append('spring')
    elif row.month_start in [7,8]:
        cal_season.append('summer')
    elif row.month_start in [10,11]:
        cal_season.append('fall')
        
    elif row.month_start == 3:
        if row.day_start < 21:
            cal_season.append('winter')
        else:
            cal_season.append('spring')
    elif row.month_start == 6:
        if row.day_start < 21:
            cal_season.append('spring')
        else:
            cal_season.append('summer')
    elif row.month_start == 9:
        if row.day_start < 21:
            cal_season.append('summer')
        else:
            cal_season.append('fall')
    elif row.month_start == 12:
        if row.day_start < 21:
            cal_season.append('fall')
        else:
            cal_season.append('winter')

storm_df['cal_season'] = cal_season

In [9]:
storm_df

,Name,Disaster,Begin Date,End Date,cost_in_millions,Deaths,day_start,month_start,year_start,met_season,cal_season
0,Southern Severe Storms and Flooding (April 1980),Flooding,1980-04-10,1980-04-17,2473.8,7,10,4,1980,spring,spring
1,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2012.0,13,7,8,1980,summer,summer
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,1980-06-01,1980-11-30,36573.0,1260,1,6,1980,summer,spring
3,Florida Freeze (January 1981),Freeze,1981-01-12,1981-01-14,1864.7,0,12,1,1981,winter,winter
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20,5,5,1981,spring,spring
...,...,...,...,...,...,...,...,...,...,...,...
318,Hurricane Nicholas (September 2021),Tropical Cyclone,2021-09-14,2021-09-18,1056.6,0,14,9,2021,fall,summer
319,"Southeast, Central Tornado Outbreak (December ...",Severe Storm,2021-12-10,2021-12-10,3993.3,93,10,12,2021,winter,fall
320,Midwest Derecho and Tornado Outbreak (December...,Severe Storm,2021-12-15,2021-12-15,1817.6,1,15,12,2021,winter,fall
321,Western Drought and Heat Wave (2021),Drought,2021-01-01,2021-12-31,9105.6,229,1,1,2021,winter,winter
322,Western Wildfires (2021),Wildfire,2021-06-01,2021-12-31,10816.0,8,1,6,2021,summer,spring

In [10]:
# Filtering the dataset to match the original visualisation
severe_storm_df = storm_df.loc[storm_df['Disaster'] == 'Severe Storm'].copy(deep=True)
severe_storm_df.reset_index(drop=True, inplace=True)

In [11]:
severe_storm_df

,Name,Disaster,Begin Date,End Date,cost_in_millions,Deaths,day_start,month_start,year_start,met_season,cal_season
0,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20,5,5,1981,spring,spring
1,Midwest/Plains/Southeast Tornadoes (April 1982),Severe Storm,1982-04-02,1982-04-04,1444.8,33,2,4,1982,spring,spring
2,Severe Storms (June 1982),Severe Storm,1982-05-31,1982-06-10,1420.6,30,31,5,1982,spring,spring
3,"Tornadoes, Severe Storms, Floods (Spring 1984)",Severe Storm,1984-03-27,1984-04-07,1670.5,80,27,3,1984,spring,spring
4,Severe Storms and Hail (June 1984),Severe Storm,1984-06-13,1984-06-17,1222.6,1,13,6,1984,summer,spring
...,...,...,...,...,...,...,...,...,...,...,...
147,Central Severe Storms (June 2021),Severe Storm,2021-06-24,2021-06-26,1303.0,0,24,6,2021,summer,summer
148,Central Severe Storms (July 2021),Severe Storm,2021-07-08,2021-07-11,1123.2,0,8,7,2021,summer,summer
149,North Central Severe Weather (August 2021),Severe Storm,2021-08-10,2021-08-13,1335.3,2,10,8,2021,summer,summer
150,"Southeast, Central Tornado Outbreak (December ...",Severe Storm,2021-12-10,2021-12-10,3993.3,93,10,12,2021,winter,fall
151,Midwest Derecho and Tornado Outbreak (December...,Severe Storm,2021-12-15,2021-12-15,1817.6,1,15,12,2021,winter,fall

In [12]:
met_group = severe_storm_df.groupby('met_season')['cost_in_millions'].sum()
print(met_group)

met_season
fall       13503.6
spring    231182.2
summer     72123.2
winter     28114.1
Name: cost_in_millions, dtype: float64

In [13]:
cal_group = severe_storm_df.groupby('cal_season')['cost_in_millions'].sum()
print(cal_group)

cal_season
fall       21082.5
spring    240827.0
summer     44541.5
winter     38472.1
Name: cost_in_millions, dtype: float64

In [72]:
severe_storm_df[severe_storm_df['met_season'] == 'spring']
# severe_storm_df[severe_storm_df['met_season'] == 'summer']
# severe_storm_df[severe_storm_df['met_season'] == 'fall']
# severe_storm_df[severe_storm_df['met_season'] == 'winter']

,Name,Disaster,Begin Date,End Date,cost_in_millions,Deaths,day_start,month_start,year_start,met_season,cal_season
0,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20,5,5,1981,spring,spring
1,Midwest/Plains/Southeast Tornadoes (April 1982),Severe Storm,1982-04-02,1982-04-04,1444.8,33,2,4,1982,spring,spring
2,Severe Storms (June 1982),Severe Storm,1982-05-31,1982-06-10,1420.6,30,31,5,1982,spring,spring
3,"Tornadoes, Severe Storms, Floods (Spring 1984)",Severe Storm,1984-03-27,1984-04-07,1670.5,80,27,3,1984,spring,spring
5,Ohio and Pennsylvania Tornado Outbreak (June 1...,Severe Storm,1985-05-31,1985-05-31,1584.0,89,31,5,1985,spring,spring
...,...,...,...,...,...,...,...,...,...,...,...
141,Southeast Tornadoes and Severe Weather (March ...,Severe Storm,2021-03-24,2021-03-25,1794.6,6,24,3,2021,spring,spring
142,Eastern Severe Weather (March 2021),Severe Storm,2021-03-27,2021-03-28,1440.5,8,27,3,2021,spring,spring
143,Texas Hail Storms (April 2021),Severe Storm,2021-04-12,2021-04-15,1578.3,0,12,4,2021,spring,spring
144,Texas and Oklahoma Severe Weather (April 2021),Severe Storm,2021-04-27,2021-04-28,3369.5,0,27,4,2021,spring,spring
145,Southern Tornadoes and Southeast Severe Weathe...,Severe Storm,2021-05-02,2021-05-04,1327.5,4,2,5,2021,spring,spring

In [14]:
cyclone_df = storm_df.loc[storm_df['Disaster'] == 'Tropical Cyclone'].copy(deep=True)
cyclone_df.reset_index(drop=True, inplace=True)

In [15]:
cyclone_df

,Name,Disaster,Begin Date,End Date,cost_in_millions,Deaths,day_start,month_start,year_start,met_season,cal_season
0,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2012.0,13,7,8,1980,summer,summer
1,Hurricane Alicia (August 1983),Tropical Cyclone,1983-08-17,1983-08-20,8490.0,21,17,8,1983,summer,summer
2,Hurricane Elena (September 1985),Tropical Cyclone,1985-08-30,1985-09-03,3412.1,4,30,8,1985,summer,summer
3,Hurricane Gloria (September 1985),Tropical Cyclone,1985-09-26,1985-09-28,2242.9,11,26,9,1985,fall,fall
4,Hurricane Juan (October 1985),Tropical Cyclone,1985-10-27,1985-10-31,3906.5,63,27,10,1985,fall,fall
5,Tropical Storm Allison (June 1989),Tropical Cyclone,1989-06-26,1989-06-28,1339.7,11,26,6,1989,summer,summer
6,Hurricane Hugo (September 1989),Tropical Cyclone,1989-09-21,1989-09-22,20429.7,86,21,9,1989,fall,fall
7,Hurricane Bob (August 1991),Tropical Cyclone,1991-08-18,1991-08-20,3126.0,18,18,8,1991,summer,summer
8,Hurricane Andrew (August 1992),Tropical Cyclone,1992-08-23,1992-08-27,54270.0,61,23,8,1992,summer,summer
9,Hurricane Iniki (September 1992),Tropical Cyclone,1992-09-11,1992-09-12,6231.0,7,11,9,1992,fall,summer
10,Tropical Storm Alberto (July 1994),Tropical Cyclone,1994-07-07,1994-07-10,1907.1,32,7,7,1994,summer,summer
11,Hurricane Erin (August 1995),Tropical Cyclone,1995-08-01,1995-08-07,1581.0,6,1,8,1995,summer,summer
12,Hurricane Marilyn (September 1995),Tropical Cyclone,1995-09-15,1995-09-17,3885.0,13,15,9,1995,fall,summer
13,Hurricane Opal (October 1995),Tropical Cyclone,1995-10-04,1995-10-06,8674.7,27,4,10,1995,fall,fall
14,Hurricane Fran (September 1996),Tropical Cyclone,1996-09-05,1996-09-08,9012.6,37,5,9,1996,fall,summer
15,Tropical Storm Frances (September 1998),Tropical Cyclone,1998-08-08,1998-08-13,1218.0,2,8,8,1998,summer,summer
16,Hurricane Bonnie (August 1998),Tropical Cyclone,1998-08-27,1998-08-29,1705.2,3,27,8,1998,summer,summer
17,Hurricane Georges (September 1998),Tropical Cyclone,1998-09-20,1998-09-29,10353.2,16,20,9,1998,fall,summer
18,Hurricane Floyd (September 1999),Tropical Cyclone,1999-09-14,1999-09-16,10969.9,77,14,9,1999,fall,summer
19,Tropical Storm Allison (June 2001),Tropical Cyclone,2001-06-05,2001-06-17,13550.0,43,5,6,2001,summer,spring
20,Hurricane Lili (October 2002),Tropical Cyclone,2002-08-01,2002-08-05,1734.1,2,1,8,2002,summer,summer
21,Tropical Storm Isidore (September 2002),Tropical Cyclone,2002-09-25,2002-09-27,1805.5,5,25,9,2002,fall,fall
22,Hurricane Isabel (September 2003),Tropical Cyclone,2003-09-18,2003-09-19,8390.6,55,18,9,2003,fall,summer
23,Hurricane Charley (August 2004),Tropical Cyclone,2004-08-13,2004-08-14,23999.3,35,13,8,2004,summer,summer
24,Hurricane Frances (September 2004),Tropical Cyclone,2004-09-03,2004-09-09,14601.9,48,3,9,2004,fall,summer
25,Hurricane Ivan (September 2004),Tropical Cyclone,2004-09-12,2004-09-21,30545.8,57,12,9,2004,fall,summer
26,Hurricane Jeanne (September 2004),Tropical Cyclone,2004-09-15,2004-09-29,11169.8,28,15,9,2004,fall,summer
27,Hurricane Dennis (July 2005),Tropical Cyclone,2005-07-09,2005-07-11,3617.8,15,9,7,2005,summer,summer
28,Hurricane Katrina (August 2005),Tropical Cyclone,2005-08-25,2005-08-30,180042.4,1833,25,8,2005,summer,summer
29,Hurricane Rita (September 2005),Tropical Cyclone,2005-09-20,2005-09-24,26455.1,119,20,9,2005,fall,summer
30,Hurricane Wilma (October 2005),Tropical Cyclone,2005-10-24,2005-10-24,26980.0,35,24,10,2005,fall,fall
31,Hurricane Dolly (July 2008),Tropical Cyclone,2008-07-23,2008-07-25,1634.8,3,23,7,2008,summer,summer
32,Hurricane Gustav (September 2008),Tropical Cyclone,2008-08-31,2008-09-03,7736.1,53,31,8,2008,summer,summer
33,Hurricane Ike (September 2008),Tropical Cyclone,2008-09-12,2008-09-14,38998.4,112,12,9,2008,fall,summer
34,Hurricane Irene (August 2011),Tropical Cyclone,2011-08-26,2011-08-28,16867.6,45,26,8,2011,summer,summer
35,Tropical Storm Lee (September 2011),Tropical Cyclone,2011-09-01,2011-09-05,3140.9,21,1,9,2011,fall,summer
36,Hurricane Isaac (August 2012),Tropical Cyclone,2012-08-26,2012-08-31,3399.1,9,26,8,2012,summer,summer
37,Hurricane Sandy (October 2012),Tropical Cyclone,2012-10-30,2012-10-31,79998.5,159,30,10,2012,fall,fall
38,Hurricane Matthew (October 2016),Tropical Cyclone,2016-10-08,2016-10-12,11700.0,49,8,10,2016,fall,fall
39,Hurricane Harvey (August 2017),Tropical Cyclone,2017-08-25,2017-08-31,143750.0,89,25,8,2017,summer,summer
40,Hurricane Irma (September 2017),Tropical Cyclone,2017-09-06,2017-09-12,57500.0,97,6,9,2017,fall,summer
41,Hurricane Maria (September 2017),Tropical Cyclone,2017-09-19,2017-09-21,103500.0,2981,19,9,2017,fall,summer
42,Hurricane Florence (September 2018),Tropical Cyclone,2018-09-13,2018-09-16,26880.0,53,13,9,2018,fall,summer
43,Hurricane Michael (October 2018),Tropical Cyclone,2018-10-10,2018-10-11,27972.0,49,10,10,2018,fall,fall
44,Hurricane Dorian (September 2019),Tropical Cyclone,2019-08-28,2019-09-06,1787.1,10,28,8,2019,summer,summer
45,Tropical Storm Imelda (September 2019),Tropical Cyclone,2019-09-17,2019-09-21,5500.0,5,17,9,2019,fall,summer
46,Hurricane Hanna (July 2020),Tropical Cyclone,2020-07-25,2020-07-26,1171.8,0,25,7,2020,summer,summer
47,Hurricane Isaias (August 2020),Tropical Cyclone,2020-08-03,2020-08-04,5185.2,16,3,8,2020,summer,summer
48,Hurricane Laura (August 2020),Tropical Cyclone,2020-08-27,2020-08-28,25304.5,42,27,8,2020,summer,summer
49,Hurricane Sally (September 2020),Tropical Cyclone,2020-09-15,2020-09-17,7928.7,5,15,9,2020,fall,summer
50,Hurricane Delta (October 2020),Tropical Cyclone,2020-10-09,2020-10-11,3125.3,5,9,10,2020,fall,fall
51,Hurricane Zeta (October 2020),Tropical Cyclone,2020-10-28,2020-10-29,4743.7,6,28,10,2020,fall,fall
52,Tropical Storm Eta (November 2020),Tropical Cyclone,2020-11-08,2020-11-12,1591.5,12,8,11,2020,fall,fall
53,Tropical Storm Elsa (July 2021),Tropical Cyclone,2021-07-07,2021-07-09,1261.5,1,7,7,2021,summer,summer
54,Tropical Storm Fred (August 2021),Tropical Cyclone,2021-08-16,2021-08-18,1328.1,7,16,8,2021,summer,summer
55,Hurricane Ida (August 2021),Tropical Cyclone,2021-08-29,2021-09-01,76514.9,96,29,8,2021,summer,summer
56,Hurricane Nicholas (September 2021),Tropical Cyclone,2021-09-14,2021-09-18,1056.6,0,14,9,2021,fall,summer

In [16]:
cyc_met_group = cyclone_df.groupby('met_season')['cost_in_millions'].sum()
print(cyc_met_group)

met_season
fall      569289.8
summer    587945.4
Name: cost_in_millions, dtype: float64

In [17]:
cyc_cal_group = cyclone_df.groupby('cal_season')['cost_in_millions'].sum()
print(cyc_cal_group)

cal_season
fall      193170.3
spring     13550.0
summer    950514.9
Name: cost_in_millions, dtype: float64

In [ ]:
# September cyclones

In [ ]:
# combined storms