In [9]:
# Imports
from datetime import datetime as dt
import pandas as pd

In [2]:
# Reading data from source and creating df
storm_df = pd.read_csv('data/events-US-1980-2021.csv',
                       header=1,
                       parse_dates=['Begin Date', 'End Date'])

In [3]:
storm_df.dtypes

Name                                                     object
Disaster                                                 object
Begin Date                                       datetime64[ns]
End Date                                         datetime64[ns]
Total CPI-Adjusted Cost (Millions of Dollars)           float64
Deaths                                                    int64
dtype: object

In [4]:
storm_df['Disaster'].value_counts()

Disaster
Severe Storm        152
Tropical Cyclone     57
Flooding             36
Drought              29
Winter Storm         20
Wildfire             20
Freeze                9
Name: count, dtype: int64

In [43]:
# Filtering the dataset to match the original visualisation
severe_storm_df = storm_df.loc[storm_df['Disaster'] == 'Severe Storm'].copy(deep=True)
severe_storm_df.reset_index(drop=True, inplace=True)

In [44]:
severe_storm_df

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths
0,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20
1,Midwest/Plains/Southeast Tornadoes (April 1982),Severe Storm,1982-04-02,1982-04-04,1444.8,33
2,Severe Storms (June 1982),Severe Storm,1982-05-31,1982-06-10,1420.6,30
3,"Tornadoes, Severe Storms, Floods (Spring 1984)",Severe Storm,1984-03-27,1984-04-07,1670.5,80
4,Severe Storms and Hail (June 1984),Severe Storm,1984-06-13,1984-06-17,1222.6,1
...,...,...,...,...,...,...
147,Central Severe Storms (June 2021),Severe Storm,2021-06-24,2021-06-26,1303.0,0
148,Central Severe Storms (July 2021),Severe Storm,2021-07-08,2021-07-11,1123.2,0
149,North Central Severe Weather (August 2021),Severe Storm,2021-08-10,2021-08-13,1335.3,2
150,"Southeast, Central Tornado Outbreak (December ...",Severe Storm,2021-12-10,2021-12-10,3993.3,93
151,Midwest Derecho and Tornado Outbreak (December...,Severe Storm,2021-12-15,2021-12-15,1817.6,1

In [ ]:
# TODO add seasons columns (2 types), month and year columns

In [45]:
# created columns for day, month and year to assist in future work
# Went with start date as it would be most relevant for investigating, but can change/add to if needed
day_list = [date.day for date in severe_storm_df['Begin Date']]
month_list = [date.month for date in severe_storm_df['Begin Date']]
year_list = [date.year for date in severe_storm_df['Begin Date']]
severe_storm_df['day_start'], severe_storm_df['month_start'], severe_storm_df['year_start'] = day_list, month_list, year_list

In [46]:
severe_storm_df

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,day_start,month_start,year_start
0,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20,5,5,1981
1,Midwest/Plains/Southeast Tornadoes (April 1982),Severe Storm,1982-04-02,1982-04-04,1444.8,33,2,4,1982
2,Severe Storms (June 1982),Severe Storm,1982-05-31,1982-06-10,1420.6,30,31,5,1982
3,"Tornadoes, Severe Storms, Floods (Spring 1984)",Severe Storm,1984-03-27,1984-04-07,1670.5,80,27,3,1984
4,Severe Storms and Hail (June 1984),Severe Storm,1984-06-13,1984-06-17,1222.6,1,13,6,1984
...,...,...,...,...,...,...,...,...,...
147,Central Severe Storms (June 2021),Severe Storm,2021-06-24,2021-06-26,1303.0,0,24,6,2021
148,Central Severe Storms (July 2021),Severe Storm,2021-07-08,2021-07-11,1123.2,0,8,7,2021
149,North Central Severe Weather (August 2021),Severe Storm,2021-08-10,2021-08-13,1335.3,2,10,8,2021
150,"Southeast, Central Tornado Outbreak (December ...",Severe Storm,2021-12-10,2021-12-10,3993.3,93,10,12,2021
151,Midwest Derecho and Tornado Outbreak (December...,Severe Storm,2021-12-15,2021-12-15,1817.6,1,15,12,2021

In [55]:
# meteorologic seasons are easier to define as they encompass entire months
# can also just do season mapping from the beginning, but like to keep it this way to show different methods and for simplifying steps
met_season_numbers = [month % 12 // 3 + 1 for month in severe_storm_df['month_start']]

season_mapping = {1: 'winter', 2: 'spring', 3: 'summer', 4: 'fall'}

met_season = [season_mapping[number] for number in met_season_numbers]
severe_storm_df['met_season'] = met_season

In [56]:
severe_storm_df

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,day_start,month_start,year_start,met_season,met_season_numbers
0,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1268.6,20,5,5,1981,spring,2
1,Midwest/Plains/Southeast Tornadoes (April 1982),Severe Storm,1982-04-02,1982-04-04,1444.8,33,2,4,1982,spring,2
2,Severe Storms (June 1982),Severe Storm,1982-05-31,1982-06-10,1420.6,30,31,5,1982,spring,2
3,"Tornadoes, Severe Storms, Floods (Spring 1984)",Severe Storm,1984-03-27,1984-04-07,1670.5,80,27,3,1984,spring,2
4,Severe Storms and Hail (June 1984),Severe Storm,1984-06-13,1984-06-17,1222.6,1,13,6,1984,summer,3
...,...,...,...,...,...,...,...,...,...,...,...
147,Central Severe Storms (June 2021),Severe Storm,2021-06-24,2021-06-26,1303.0,0,24,6,2021,summer,3
148,Central Severe Storms (July 2021),Severe Storm,2021-07-08,2021-07-11,1123.2,0,8,7,2021,summer,3
149,North Central Severe Weather (August 2021),Severe Storm,2021-08-10,2021-08-13,1335.3,2,10,8,2021,summer,3
150,"Southeast, Central Tornado Outbreak (December ...",Severe Storm,2021-12-10,2021-12-10,3993.3,93,10,12,2021,winter,1
151,Midwest Derecho and Tornado Outbreak (December...,Severe Storm,2021-12-15,2021-12-15,1817.6,1,15,12,2021,winter,1

In [67]:
# Pandas(Index=151, Name='Midwest Derecho and Tornado Outbreak (December 2021)', Disaster='Severe Storm', _3=Timestamp('2021-12-15 00:00:00'), _4=Timestamp('2021-12-15 00:00:00'), _5=1817.6, Deaths=1, day_start=15, month_start=12, year_start=2021, met_season='winter', met_season_numbers=1)

for row in severe_storm_df.itertuples():
    print(row)

Pandas(Index=0, Name='Severe Storms, Flash Floods, Hail, Tornadoes (May 1981)', Disaster='Severe Storm', _3=Timestamp('1981-05-05 00:00:00'), _4=Timestamp('1981-05-10 00:00:00'), _5=1268.6, Deaths=20, day_start=5, month_start=5, year_start=1981, met_season='spring', met_season_numbers=2)
Pandas(Index=1, Name='Midwest/Plains/Southeast Tornadoes (April 1982)', Disaster='Severe Storm', _3=Timestamp('1982-04-02 00:00:00'), _4=Timestamp('1982-04-04 00:00:00'), _5=1444.8, Deaths=33, day_start=2, month_start=4, year_start=1982, met_season='spring', met_season_numbers=2)
Pandas(Index=2, Name='Severe Storms (June 1982)', Disaster='Severe Storm', _3=Timestamp('1982-05-31 00:00:00'), _4=Timestamp('1982-06-10 00:00:00'), _5=1420.6, Deaths=30, day_start=31, month_start=5, year_start=1982, met_season='spring', met_season_numbers=2)
Pandas(Index=3, Name='Tornadoes, Severe Storms, Floods (Spring 1984)', Disaster='Severe Storm', _3=Timestamp('1984-03-27 00:00:00'), _4=Timestamp('1984-04-07 00:00:00'), _5=1670.5, Deaths=80, day_start=27, month_start=3, year_start=1984, met_season='spring', met_season_numbers=2)
Pandas(Index=4, Name='Severe Storms and Hail (June 1984)', Disaster='Severe Storm', _3=Timestamp('1984-06-13 00:00:00'), _4=Timestamp('1984-06-17 00:00:00'), _5=1222.6, Deaths=1, day_start=13, month_start=6, year_start=1984, met_season='summer', met_season_numbers=3)
Pandas(Index=5, Name='Ohio and Pennsylvania Tornado Outbreak (June 1985)', Disaster='Severe Storm', _3=Timestamp('1985-05-31 00:00:00'), _4=Timestamp('1985-05-31 00:00:00'), _5=1584.0, Deaths=89, day_start=31, month_start=5, year_start=1985, met_season='spring', met_season_numbers=2)
Pandas(Index=6, Name='Western Severe Storms and Flooding (February 1986)', Disaster='Severe Storm', _3=Timestamp('1986-02-14 00:00:00'), _4=Timestamp('1986-02-16 00:00:00'), _5=1377.6, Deaths=13, day_start=14, month_start=2, year_start=1986, met_season='winter', met_season_numbers=1)
Pandas(Index=7, Name='Southern Derecho and Severe Storms (May 1989)', Disaster='Severe Storm', _3=Timestamp('1989-05-01 00:00:00'), _4=Timestamp('1989-05-06 00:00:00'), _5=1263.0, Deaths=21, day_start=1, month_start=5, year_start=1989, met_season='spring', met_season_numbers=2)
Pandas(Index=8, Name='Colorado Hail Storm (July 1990)', Disaster='Severe Storm', _3=Timestamp('1990-07-11 00:00:00'), _4=Timestamp('1990-07-11 00:00:00'), _5=1787.7, Deaths=0, day_start=11, month_start=7, year_start=1990, met_season='summer', met_season_numbers=3)
Pandas(Index=9, Name='Severe Storms, Tornadoes (March 1991)', Disaster='Severe Storm', _3=Timestamp('1991-03-26 00:00:00'), _4=Timestamp('1991-03-29 00:00:00'), _5=1354.5, Deaths=0, day_start=26, month_start=3, year_start=1991, met_season='spring', met_season_numbers=2)
Pandas(Index=10, Name='Severe Storms (March 1992)', Disaster='Severe Storm', _3=Timestamp('1992-03-24 00:00:00'), _4=Timestamp('1992-03-25 00:00:00'), _5=1640.9, Deaths=0, day_start=24, month_start=3, year_start=1992, met_season='spring', met_season_numbers=2)
Pandas(Index=11, Name='Hail, Tornadoes (April 1992)', Disaster='Severe Storm', _3=Timestamp('1992-04-28 00:00:00'), _4=Timestamp('1992-04-29 00:00:00'), _5=1937.5, Deaths=0, day_start=28, month_start=4, year_start=1992, met_season='spring', met_season_numbers=2)
Pandas(Index=12, Name='Severe Storms, Hail (June 1992)', Disaster='Severe Storm', _3=Timestamp('1992-06-19 00:00:00'), _4=Timestamp('1992-06-20 00:00:00'), _5=1511.0, Deaths=0, day_start=19, month_start=6, year_start=1992, met_season='summer', met_season_numbers=3)
Pandas(Index=13, Name='Southeast Severe Weather (November 1992)', Disaster='Severe Storm', _3=Timestamp('1992-11-21 00:00:00'), _4=Timestamp('1992-11-23 00:00:00'), _5=1314.0, Deaths=26, day_start=21, month_start=11, year_start=1992, met_season='fall', met_season_numbers=4)
Pandas(Index=14, Name='Northern Plains and Ohio Valley Severe Weather (July 1993)', Disaster='Severe Storm', _3=Timestamp('1993-07-08 00:00:00'), _4=Timestamp('1993-07-10 00:00:00'), _5=1262.2, Deaths=1, day_start=8, month_start=7, year_start=1993, met_season='summer', met_season_numbers=3)
Pandas(Index=15, Name='Midwest/Plains Tornadoes (April 1994)', Disaster='Severe Storm', _3=Timestamp('1994-04-25 00:00:00'), _4=Timestamp('1994-04-27 00:00:00'), _5=1891.5, Deaths=3, day_start=25, month_start=4, year_start=1994, met_season='spring', met_season_numbers=2)
Pandas(Index=16, Name='Texas Hail Storm (April 1995)', Disaster='Severe Storm', _3=Timestamp('1995-04-28 00:00:00'), _4=Timestamp('1995-04-28 00:00:00'), _5=1075.3, Deaths=0, day_start=28, month_start=4, year_start=1995, met_season='spring', met_season_numbers=2)
Pandas(Index=17, Name='South Plains Severe Weather (May 1995)', Disaster='Severe Storm', _3=Timestamp('1995-05-05 00:00:00'), _4=Timestamp('1995-05-07 00:00:00'), _5=10204.8, Deaths=32, day_start=5, month_start=5, year_start=1995, met_season='spring', met_season_numbers=2)
Pandas(Index=18, Name='Mississippi and Ohio Valley Severe Weather and Flooding (March 1997)', Disaster='Severe Storm', _3=Timestamp('1997-02-28 00:00:00'), _4=Timestamp('1997-03-05 00:00:00'), _5=1739.7, Deaths=67, day_start=28, month_start=2, year_start=1997, met_season='winter', met_season_numbers=1)
Pandas(Index=19, Name='Western/Eastern Severe Weather and Flooding (Winter-Spring 1998)', Disaster='Severe Storm', _3=Timestamp('1997-12-01 00:00:00'), _4=Timestamp('1998-02-28 00:00:00'), _5=1768.0, Deaths=132, day_start=1, month_start=12, year_start=1997, met_season='winter', met_season_numbers=1)
Pandas(Index=20, Name='Minnesota Severe Storms/Hail (May 1998)', Disaster='Severe Storm', _3=Timestamp('1998-05-15 00:00:00'), _4=Timestamp('1998-05-15 00:00:00'), _5=2838.4, Deaths=1, day_start=15, month_start=5, year_start=1998, met_season='spring', met_season_numbers=2)
Pandas(Index=21, Name='Northern Plains and Great Lakes Derecho, Tornadoes (June 1998)', Disaster='Severe Storm', _3=Timestamp('1998-05-30 00:00:00'), _4=Timestamp('1998-06-02 00:00:00'), _5=1981.0, Deaths=20, day_start=30, month_start=5, year_start=1998, met_season='spring', met_season_numbers=2)
Pandas(Index=22, Name='Oklahoma and Kansas Tornadoes (May 1999)', Disaster='Severe Storm', _3=Timestamp('1999-05-03 00:00:00'), _4=Timestamp('1999-05-06 00:00:00'), _5=3440.4, Deaths=55, day_start=3, month_start=5, year_start=1999, met_season='spring', met_season_numbers=2)
Pandas(Index=23, Name='Southern Severe Weather (March 2000)', Disaster='Severe Storm', _3=Timestamp('2000-03-28 00:00:00'), _4=Timestamp('2000-03-29 00:00:00'), _5=1145.4, Deaths=0, day_start=28, month_start=3, year_start=2000, met_season='spring', met_season_numbers=2)
Pandas(Index=24, Name='Midwest/Ohio Valley Hail and Tornadoes (April 2001)', Disaster='Severe Storm', _3=Timestamp('2001-04-06 00:00:00'), _4=Timestamp('2001-04-11 00:00:00'), _5=4951.6, Deaths=3, day_start=6, month_start=4, year_start=2001, met_season='spring', met_season_numbers=2)
Pandas(Index=25, Name='North Central Severe Weather (May 2001)', Disaster='Severe Storm', _3=Timestamp('2001-04-30 00:00:00'), _4=Timestamp('2001-05-01 00:00:00'), _5=1073.6, Deaths=0, day_start=30, month_start=4, year_start=2001, met_season='spring', met_season_numbers=2)
Pandas(Index=26, Name='Severe Storms and Tornadoes (April 2002)', Disaster='Severe Storm', _3=Timestamp('2002-04-27 00:00:00'), _4=Timestamp('2002-04-28 00:00:00'), _5=3308.5, Deaths=7, day_start=27, month_start=4, year_start=2002, met_season='spring', met_season_numbers=2)
Pandas(Index=27, Name='Eastern Tornadoes and Severe Storms (November 2002)', Disaster='Severe Storm', _3=Timestamp('2002-11-09 00:00:00'), _4=Timestamp('2002-11-11 00:00:00'), _5=1123.2, Deaths=28, day_start=9, month_start=11, year_start=2002, met_season='fall', met_season_numbers=4)
Pandas(Index=28, Name='Severe Storms/Hail (April 2003)', Disaster='Severe Storm', _3=Timestamp('2003-04-04 00:00:00'), _4=Timestamp('2003-04-07 00:00:00'), _5=3089.9, Deaths=3, day_start=4, month_start=4, year_start=2003, met_season='spring', met_season_numbers=2)
Pandas(Index=29, Name='Severe Storms/Tornadoes (May 2003)', Disaster='Severe Storm', _3=Timestamp('2003-05-03 00:00:00'), _4=Timestamp('2003-05-10 00:00:00'), _5=6398.9, Deaths=51, day_start=3, month_start=5, year_start=2003, met_season='spring', met_season_numbers=2)
Pandas(Index=30, Name='Midwest/Plains Severe Weather (July 2003)', Disaster='Severe Storm', _3=Timestamp('2003-07-04 00:00:00'), _4=Timestamp('2003-07-09 00:00:00'), _5=1321.4, Deaths=7, day_start=4, month_start=7, year_start=2003, met_season='summer', met_season_numbers=3)
Pandas(Index=31, Name='Southern Derecho and Eastern Severe Weather (July 2003)', Disaster='Severe Storm', _3=Timestamp('2003-07-21 00:00:00'), _4=Timestamp('2003-07-23 00:00:00'), _5=1552.5, Deaths=7, day_start=21, month_start=7, year_start=2003, met_season='summer', met_season_numbers=3)
Pandas(Index=32, Name='Severe Storms, Hail, Tornadoes (May 2004)', Disaster='Severe Storm', _3=Timestamp('2004-05-21 00:00:00'), _4=Timestamp('2004-05-27 00:00:00'), _5=1521.1, Deaths=4, day_start=21, month_start=5, year_start=2004, met_season='spring', met_season_numbers=2)
Pandas(Index=33, Name='Colorado Hail Storms (June 2004)', Disaster='Severe Storm', _3=Timestamp('2004-06-08 00:00:00'), _4=Timestamp('2004-06-09 00:00:00'), _5=1042.5, Deaths=0, day_start=8, month_start=6, year_start=2004, met_season='summer', met_season_numbers=3)
Pandas(Index=34, Name='Southeast Severe Weather (March 2005)', Disaster='Severe Storm', _3=Timestamp('2005-03-24 00:00:00'), _4=Timestamp('2005-03-27 00:00:00'), _5=1271.7, Deaths=0, day_start=24, month_start=3, year_start=2005, met_season='spring', met_season_numbers=2)
Pandas(Index=35, Name='Severe Storms and Tornadoes (March 2006)', Disaster='Severe Storm', _3=Timestamp('2006-03-08 00:00:00'), _4=Timestamp('2006-03-13 00:00:00'), _5=1899.3, Deaths=10, day_start=8, month_start=3, year_start=2006, met_season='spring', met_season_numbers=2)
Pandas(Index=36, Name='Midwest/Southeast Tornadoes (April 6-8, 2006)', Disaster='Severe Storm', _3=Timestamp('2006-04-06 00:00:00'), _4=Timestamp('2006-04-08 00:00:00'), _5=2261.5, Deaths=10, day_start=6, month_start=4, year_start=2006, met_season='spring', met_season_numbers=2)
Pandas(Index=37, Name='Midwest Tornadoes (April 2006)', Disaster='Severe Storm', _3=Timestamp('2006-04-13 00:00:00'), _4=Timestamp('2006-04-16 00:00:00'), _5=3417.2, Deaths=27, day_start=13, month_start=4, year_start=2006, met_season='spring', met_season_numbers=2)
Pandas(Index=38, Name='North Central Severe Weather and Tornadoes (August 2006)', Disaster='Severe Storm', _3=Timestamp('2006-08-23 00:00:00'), _4=Timestamp('2006-08-24 00:00:00'), _5=1055.1, Deaths=1, day_start=23, month_start=8, year_start=2006, met_season='summer', met_season_numbers=3)
Pandas(Index=39, Name='Central Severe Weather (October 2006)', Disaster='Severe Storm', _3=Timestamp('2006-10-02 00:00:00'), _4=Timestamp('2006-10-05 00:00:00'), _5=1239.6, Deaths=1, day_start=2, month_start=10, year_start=2006, met_season='fall', met_season_numbers=4)
Pandas(Index=40, Name='East/South Severe Weather and Flooding (April 2007)', Disaster='Severe Storm', _3=Timestamp('2007-04-13 00:00:00'), _4=Timestamp('2007-04-17 00:00:00'), _5=3435.7, Deaths=9, day_start=13, month_start=4, year_start=2007, met_season='spring', met_season_numbers=2)
Pandas(Index=41, Name='Western, Central and Northeast Severe Weather (January 2008)', Disaster='Severe Storm', _3=Timestamp('2008-01-04 00:00:00'), _4=Timestamp('2008-01-09 00:00:00'), _5=1315.8, Deaths=12, day_start=4, month_start=1, year_start=2008, met_season='winter', met_season_numbers=1)
Pandas(Index=42, Name='Southeast Tornadoes and Severe Weather (February 2008)', Disaster='Severe Storm', _3=Timestamp('2008-02-05 00:00:00'), _4=Timestamp('2008-02-06 00:00:00'), _5=1623.6, Deaths=57, day_start=5, month_start=2, year_start=2008, met_season='winter', met_season_numbers=1)
Pandas(Index=43, Name='Southeast Tornadoes (March 2008)', Disaster='Severe Storm', _3=Timestamp('2008-03-14 00:00:00'), _4=Timestamp('2008-03-15 00:00:00'), _5=1504.2, Deaths=5, day_start=14, month_start=3, year_start=2008, met_season='spring', met_season_numbers=2)
Pandas(Index=44, Name='Southern Severe Weather (April 2008)', Disaster='Severe Storm', _3=Timestamp('2008-04-09 00:00:00'), _4=Timestamp('2008-04-11 00:00:00'), _5=1372.3, Deaths=2, day_start=9, month_start=4, year_start=2008, met_season='spring', met_season_numbers=2)
Pandas(Index=45, Name='Midwest Tornadoes and Severe Weather (May 2008)', Disaster='Severe Storm', _3=Timestamp('2008-05-22 00:00:00'), _4=Timestamp('2008-05-27 00:00:00'), _5=3968.7, Deaths=13, day_start=22, month_start=5, year_start=2008, met_season='spring', met_season_numbers=2)
Pandas(Index=46, Name='Midwest/Mid-Atlantic Severe Weather (June 2008)', Disaster='Severe Storm', _3=Timestamp('2008-06-06 00:00:00'), _4=Timestamp('2008-06-12 00:00:00'), _5=2126.8, Deaths=18, day_start=6, month_start=6, year_start=2008, met_season='summer', met_season_numbers=3)
Pandas(Index=47, Name='Southeast/Ohio Valley Severe Weather (February 2009)', Disaster='Severe Storm', _3=Timestamp('2009-02-10 00:00:00'), _4=Timestamp('2009-02-11 00:00:00'), _5=2331.8, Deaths=10, day_start=10, month_start=2, year_start=2009, met_season='winter', met_season_numbers=1)
Pandas(Index=48, Name='Midwest/Southeast Tornadoes (March 2009)', Disaster='Severe Storm', _3=Timestamp('2009-03-25 00:00:00'), _4=Timestamp('2009-03-28 00:00:00'), _5=2182.0, Deaths=0, day_start=25, month_start=3, year_start=2009, met_season='spring', met_season_numbers=2)
Pandas(Index=49, Name='South/Southeast Severe Weather and Tornadoes (April 2009)', Disaster='Severe Storm', _3=Timestamp('2009-04-09 00:00:00'), _4=Timestamp('2009-04-10 00:00:00'), _5=1902.0, Deaths=6, day_start=9, month_start=4, year_start=2009, met_season='spring', met_season_numbers=2)
Pandas(Index=50, Name='Central Derecho and Tornadoes (May 2009)', Disaster='Severe Storm', _3=Timestamp('2009-05-07 00:00:00'), _4=Timestamp('2009-05-09 00:00:00'), _5=1145.2, Deaths=7, day_start=7, month_start=5, year_start=2009, met_season='spring', met_season_numbers=2)
Pandas(Index=51, Name='Midwest, South and East Severe Weather (June 2009)', Disaster='Severe Storm', _3=Timestamp('2009-06-09 00:00:00'), _4=Timestamp('2009-06-12 00:00:00'), _5=1753.2, Deaths=0, day_start=9, month_start=6, year_start=2009, met_season='summer', met_season_numbers=3)
Pandas(Index=52, Name='Colorado Hail Storm (July 2009)', Disaster='Severe Storm', _3=Timestamp('2009-07-20 00:00:00'), _4=Timestamp('2009-07-20 00:00:00'), _5=1320.0, Deaths=0, day_start=20, month_start=7, year_start=2009, met_season='summer', met_season_numbers=3)
Pandas(Index=53, Name='Oklahoma, Kansas, and Texas Tornadoes and Severe Weather (May 2010)', Disaster='Severe Storm', _3=Timestamp('2010-05-10 00:00:00'), _4=Timestamp('2010-05-12 00:00:00'), _5=4333.9, Deaths=3, day_start=10, month_start=5, year_start=2010, met_season='spring', met_season_numbers=2)
Pandas(Index=54, Name='Rockies/Central/East Severe Weather (June 2010)', Disaster='Severe Storm', _3=Timestamp('2010-06-10 00:00:00'), _4=Timestamp('2010-06-15 00:00:00'), _5=1171.3, Deaths=2, day_start=10, month_start=6, year_start=2010, met_season='summer', met_season_numbers=3)
Pandas(Index=55, Name='Midwest/Northeast Severe Storms and Flooding (July 2010)', Disaster='Severe Storm', _3=Timestamp('2010-07-20 00:00:00'), _4=Timestamp('2010-07-23 00:00:00'), _5=1233.0, Deaths=0, day_start=20, month_start=7, year_start=2010, met_season='summer', met_season_numbers=3)
Pandas(Index=56, Name='Arizona Severe Weather (October 2010)', Disaster='Severe Storm', _3=Timestamp('2010-10-05 00:00:00'), _4=Timestamp('2010-10-06 00:00:00'), _5=4940.0, Deaths=0, day_start=5, month_start=10, year_start=2010, met_season='fall', met_season_numbers=4)
Pandas(Index=57, Name='Midwest/Southeast Tornadoes and Derecho (April 2011)', Disaster='Severe Storm', _3=Timestamp('2011-04-04 00:00:00'), _4=Timestamp('2011-04-05 00:00:00'), _5=3496.8, Deaths=9, day_start=4, month_start=4, year_start=2011, met_season='spring', met_season_numbers=2)
Pandas(Index=58, Name='Southeast/Midwest Tornadoes (April 2011)', Disaster='Severe Storm', _3=Timestamp('2011-04-08 00:00:00'), _4=Timestamp('2011-04-11 00:00:00'), _5=2745.9, Deaths=0, day_start=8, month_start=4, year_start=2011, met_season='spring', met_season_numbers=2)
Pandas(Index=59, Name='Midwest/Southeast Tornadoes (April 2011)', Disaster='Severe Storm', _3=Timestamp('2011-04-14 00:00:00'), _4=Timestamp('2011-04-16 00:00:00'), _5=2594.7, Deaths=38, day_start=14, month_start=4, year_start=2011, met_season='spring', met_season_numbers=2)
Pandas(Index=60, Name='Ohio Valley Derecho and Southern Tornadoes (April 2011)', Disaster='Severe Storm', _3=Timestamp('2011-04-19 00:00:00'), _4=Timestamp('2011-04-20 00:00:00'), _5=1307.3, Deaths=0, day_start=19, month_start=4, year_start=2011, met_season='spring', met_season_numbers=2)
Pandas(Index=61, Name='Southeast/Ohio Valley/Midwest Tornadoes (April 2011)', Disaster='Severe Storm', _3=Timestamp('2011-04-25 00:00:00'), _4=Timestamp('2011-04-28 00:00:00'), _5=12879.8, Deaths=321, day_start=25, month_start=4, year_start=2011, met_season='spring', met_season_numbers=2)
Pandas(Index=62, Name='Midwest/Southeast Tornadoes (May 2011)', Disaster='Severe Storm', _3=Timestamp('2011-05-22 00:00:00'), _4=Timestamp('2011-05-27 00:00:00'), _5=11461.8, Deaths=177, day_start=22, month_start=5, year_start=2011, met_season='spring', met_season_numbers=2)
Pandas(Index=63, Name='Midwest/Southeast Tornadoes and Severe Weather (June 2011)', Disaster='Severe Storm', _3=Timestamp('2011-06-18 00:00:00'), _4=Timestamp('2011-06-22 00:00:00'), _5=1937.1, Deaths=3, day_start=18, month_start=6, year_start=2011, met_season='summer', met_season_numbers=3)
Pandas(Index=64, Name='North Central Severe Weather (July 2011)', Disaster='Severe Storm', _3=Timestamp('2011-07-01 00:00:00'), _4=Timestamp('2011-07-01 00:00:00'), _5=1118.9, Deaths=0, day_start=1, month_start=7, year_start=2011, met_season='summer', met_season_numbers=3)
Pandas(Index=65, Name='Rockies and Midwest Derecho (July 2011)', Disaster='Severe Storm', _3=Timestamp('2011-07-10 00:00:00'), _4=Timestamp('2011-07-11 00:00:00'), _5=1556.3, Deaths=2, day_start=10, month_start=7, year_start=2011, met_season='summer', met_season_numbers=3)
Pandas(Index=66, Name='Midwest/Southeast Severe Weather (August 2011)', Disaster='Severe Storm', _3=Timestamp('2011-08-17 00:00:00'), _4=Timestamp('2011-08-18 00:00:00'), _5=1439.3, Deaths=0, day_start=17, month_start=8, year_start=2011, met_season='summer', met_season_numbers=3)
Pandas(Index=67, Name='Southeast/Ohio Valley Tornadoes (March 2012)', Disaster='Severe Storm', _3=Timestamp('2012-03-02 00:00:00'), _4=Timestamp('2012-03-03 00:00:00'), _5=3879.7, Deaths=42, day_start=2, month_start=3, year_start=2012, met_season='spring', met_season_numbers=2)
Pandas(Index=68, Name='Texas Tornadoes (April 2012)', Disaster='Severe Storm', _3=Timestamp('2012-04-02 00:00:00'), _4=Timestamp('2012-04-03 00:00:00'), _5=1248.8, Deaths=0, day_start=2, month_start=4, year_start=2012, met_season='spring', met_season_numbers=2)
Pandas(Index=69, Name='Midwest Tornadoes (April 2012)', Disaster='Severe Storm', _3=Timestamp('2012-04-13 00:00:00'), _4=Timestamp('2012-04-14 00:00:00'), _5=1382.0, Deaths=6, day_start=13, month_start=4, year_start=2012, met_season='spring', met_season_numbers=2)
Pandas(Index=70, Name='Midwest/Ohio Valley Severe Weather (April-May 2012)', Disaster='Severe Storm', _3=Timestamp('2012-04-28 00:00:00'), _4=Timestamp('2012-05-01 00:00:00'), _5=4029.8, Deaths=1, day_start=28, month_start=4, year_start=2012, met_season='spring', met_season_numbers=2)

In [61]:
for i in range(1,13):
    print(i % 12 // 3 + 1)

1
1
2
2
2
3
3
3
4
4
4
1

In [70]:
455000/(50*25)

364.0